PREFIX=.
SESSION_ID=Gifted~Tupi3Igb#X22KjjIptgOHagYRrAaTe79EZz2it7RtofXrOkJ2pyc
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTOLIKE_STATUS=true
AUTOLIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=true
GOODBYE=true
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
OWNER_NUMBER=233593885115
SUDO_NUMBERS=233593885115
AUTO_AUDIO=false
AUTO_BLOCK=212,98,77
AUTO_REACT=false
TIME_ZONE=Africa/Nairobi
